<div
  id="slider-banner"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#slider-banner"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#slider-banner"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#slider-banner"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#slider-banner"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#slider-banner"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      type="button"
      data-bs-target="#slider-banner"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
    <button
      type="button"
      data-bs-target="#slider-banner"
      data-bs-slide-to="6"
      aria-label="Slide 7"
    ></button>
    <button
      type="button"
      data-bs-target="#slider-banner"
      data-bs-slide-to="7"
      aria-label="Slide 8"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="../../../assets/pic01.jpg" class="d-block w-100" alt="pic01" />
      <div class="carousel-caption banner-inicio d-none d-sm-block d-md-block">
        <h1>Hola, Bienvenidos a MotoTravels Colombia</h1>
        <hr />
        <p>
          Somos una empresa dedicada a ofrecer los mejores tours en motocicleta
          dentro del territorio Colombiano, brindandote un servicio VIP y
          Premium, donde tendrás la oportunidad de tener una maravillosa
          experiencia rodando en tu moto junto con nosotros, contando con toda
          la comodidad necesaria para disfrutar del viaje.
        </p>
      </div>
    </div>
    <div class="carousel-item mision" data-bs-interval="4000">
      <div
        class="carousel-caption banner-mision d-none d-sm-block d-md-block d-lg-block"
      >
        <h1>Misión</h1>
        <p class="mb-2">
          Prestar el servicio de tours en motocicleta, brindando a nuestros
          clientes tranquilidad y seguridad que solo nuestro equipo puede
          brindar, para así generar en nuestros viajeros las mejores
          experiencias durante nuestros viajes; Incluyendo servicio de catering,
          hospedaje y todos los seguros necesarios.
        </p>
        <h1>Visión</h1>
        <p>
          Posicionarnos como la mejor empresa que por medio de la innovación
          promueve las mejores vivencias turísticas viajando directamente con tu
          motocicleta.
        </p>
      </div>
    </div>
    <div class="carousel-item servicios" data-bs-interval="4000">
      <img
        src="../../../assets/pic02.jpg"
        class="d-block w-100 img-servicios"
        alt="servicios"
      />
      <div
        class="carousel-caption banner-servicios d-sm-block d-md-block d-lg-block"
      >
        <h1>Nuestros Servicios</h1>
        <p>
          Tours guíados a diferentes destinos dentro del territorio Colombiano,
          en donde podrás vivir la experiencia de conocer lugares fascinantes
          viajando en tu moto. Contamos con dos categorías, Medium (Motocicletas
          de 250CC hasta 650CC) y Large (Motocicletas de 650CC en adelante),
          puedes viajar solo o acompañado, no importa la marca de tu motocicleta
          siempre y cuando cuente con perfectas condiciones mecánicas y toda su
          documentación al día, todos nuestros planes incluyen alimentación,
          hospedaje y seguros de viaje.
        </p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="../../../assets/pic03.jpg" class="d-block w-100" alt="pic03" />
      <div
        class="carousel-caption banner-santamarta d-sm-block d-md-block d-lg-block"
      >
        <h1 class="fs-3 m-0">Tour Punta Gallinas</h1>
        <hr />
        <p>
          8 días de aventura, partiendo desde Bogotá hacia el punto norte final
          de Suramérica, contamos con guías y vehículos de apoyo para recorrer
          este espectacular departamento de la Guajira, 1218 Kilometros de viaje
          donde contarás con todas las asistencias para disfrutar de este
          maravilloso recorrido. (Tour disponible solo para categoría Large)
        </p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="../../../assets/pic04.jpg" class="d-block w-100" alt="pic04" />
      <div
        class="carousel-caption banner-tayrona d-sm-block d-md-block d-lg-block"
      >
        <h1 class="fs-3">Tour Cascada Fin del Mundo</h1>
        <hr />
        <p>
          En este tour recorremos las maravillas naturales de la selva del
          Departamento del Putumayo visitando la cascada del fin del mundo entre
          otros sitios turísticos. Realizaremos distintas caminatas ecológicas
          partiendo desde la ciudad de Bogota para recorrer 639 Kilómetros en 4
          días de aventura.
        </p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="../../../assets/pic07.jpg" class="d-block w-100" alt="pic07" />
      <div
        class="carousel-caption banner-minca d-sm-block d-md-block d-lg-block"
      >
        <h1 class="fs-3">Tour Desierto de la Tatacoa</h1>
        <hr />
        <p>
          Salida desde la ciudad de Bogotá hacia el desierto de la Tatacoa en el
          departamento del Huila, recorriendo 300 Kilometros de ruta donde 35
          son tipo Off-Road, en esta ruta encontraremos paisajes increíbles y
          paso del Ferry por el Río Magdalena. Durante los dos días (2) que dura
          este tour siempre contaremos con Guía especializado y asistencia.
        </p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="../../../assets/pic08.jpg" class="d-block w-100" alt="pic08" />
      <div
        class="carousel-caption banner-palomino d-sm-block d-md-block d-lg-block"
      >
        <h1 class="fs-3">Tour Los Nevados</h1>
        <hr />
        <p>
          Conoce la tranquilidad en un emocionante recorrido desde la ciudad de
          Bogotá hasta Murillo y Manizales en los Departamentos del Tolima y
          Caldas. Disfrutaremos del imponente Nevado de Ruíz y donde podrás
          disfrutar de sus maravillosos termales. Este tour lo ralizaremos en
          dos días contando con con guías especializados para aprender mas de
          este maravilloso Ecosistema.
        </p>
      </div>
    </div>
    <div class="carousel-item contacto">
      <div
        class="carousel-caption banner-contacto d-sm-block d-md-block d-lg-block"
      >
        <div class="container-contactanos">
          <div class="contacto-p">
            <h1>Contáctenos</h1>
            <p>
              ¡Diligencia el formulario y pronto un agente de nuestro equipo se
              comunicará contigo!
            </p>
          </div>
          <form
            [formGroup]="formularioContacto"
            (ngSubmit)="envioContacto()"
            class="form-contact"
          >
            <div class="fields">
              <div class="mb-2 d-flex flex-column text-start">
                <label class="mb-2 text-light fw-bold" for="name">Nombre</label>
                <input class="border" type="text" formControlName="nombre" />
              </div>
              <div class="mb-2 d-flex flex-column text-start">
                <label class="mb-2 text-light fw-bold" for="email"
                  >Correo Electrónico</label
                >
                <input class="border" type="email" formControlName="email" />
              </div>
            </div>
            <div class="d-flex flex-column text-start">
              <label class="mb-2 text-light fw-bold" for="message"
                >Mensaje</label
              >
              <textarea
                name="message"
                id="message"
                rows="5"
                formControlName="mensaje"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-light mt-3">
              Enviar Mensaje
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#slider-banner"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#slider-banner"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
