<div class="container">
  <form class="row g-3 d-flex">
    <div class="logo">
      <img src="../../../assets/login.png" alt="logi-ico" />
    </div>
    <div class="fw-bold fs-4 d-flex justify-content-center">Sign Up</div>
    <div class="col-lg-6">
      <input
        type="text"
        class="form-control border border-secondary"
        id="inputEmail4"
        placeholder="Nombre"
      />
    </div>
    <div class="col-lg-6">
      <input
        type="text"
        class="form-control border border-secondary"
        id="inputPassword4"
        placeholder="Usuario"
      />
    </div>
    <div class="col-lg-6">
      <input
        type="email"
        class="form-control border border-secondary"
        id="inputEmail4"
        placeholder="Email"
      />
    </div>
    <div class="col-lg-6">
      <input
        type="password"
        class="form-control border border-secondary"
        id="inputPassword4"
        placeholder="Password"
      />
    </div>
    <div class="col-lg-6">
      <input
        type="text"
        class="form-control border border-secondary"
        id="inputAddress"
        placeholder="Teléfono"
      />
    </div>
    <div class="col-lg-6">
      <input
        type="text"
        class="form-control border border-secondary"
        id="inputCity"
        placeholder="Ciudad"
      />
    </div>
    <div class="col-12 d-flex justify-content-center mt-4">
      <button type="submit" class="btn btn-primary sign-in">Sign in</button>
    </div>
    <div class="banner-registrar mt-5 d-flex justify-content-center">
      <div>
        Don't have an account?
        <button type="submit" class="btn btn-success" (click)="loginEnviar()">
          Log in
        </button>
      </div>
    </div>
  </form>
</div>
