/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(./assets/bf_Colombia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  width: 10px;
  height: 10px;
}
