<!-- CAJA 1 -->
<div class="container">
  <div class="cajasIzquierda">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/guajira/punta_gallinas.jpeg"
            alt="guajira 1"
            class="imagenes d-block"
          />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/guajira/punta_gallinas2.jpg"
            alt="guajira 2"
            class="imagenes d-block"
          />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/guajira/punta_gallinas3.jpg"
            alt="guajira 3"
            class="imagenes d-block"
          />
        </div>
      </div>
    </div>
    <div class="texto_productos">
      <h3>Tour Guajira</h3>
      <div>
        <ul>
          <li>
            8 días de aventura, 7 noches de hospedaje, partiendo desde Bogotá
            hasta la Guajira
          </li>
          <li>
            1218 Kilometros, trayecto que se realiza en dos días incluída noche
            de descanso.
          </li>
          <li>
            Tour disponible para motos doble propósito de 650cc en adelante
          </li>
          <li>Costos: 3.500.000 por persona</li>
        </ul>
        <a
          href="http://localhost:4200/iniciar-sesion"
          class="btn btn-secondary btn-lg active button"
          role="button"
          aria-pressed="true"
          >¡Reserva ahora!</a
        >
      </div>
    </div>
  </div>

  <!-- CAJA 2 -->
  <div class="cajasDerecha">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/huila/tatacoa.jpeg"
            alt="guajira 1"
            class="imagenes"
          />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/huila/tatacoa2.webp"
            alt="guajira 2"
            class="imagenes"
          />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/huila/tatacoa3.jpeg"
            alt="guajira 3"
            class="imagenes"
          />
        </div>
      </div>
    </div>
    <div class="texto_productos">
      <h3>Tour Desierto de la Tatacoa</h3>
      <div>
        <ul>
          <li>
            3 días 2 noches, partiendo desde Bogota hasta el departamento del
            Huila
          </li>
          <li>300 Kilometros de recorrido.</li>
          <li>
            Tour disponible para motos doble propósito de 250cc en adelante
          </li>
          <li>Costos: 700.000 por persona, habitación en acomodación doble</li>
        </ul>
        <a
          href="http://localhost:4200/iniciar-sesion"
          class="btn btn-secondary btn-lg active button"
          role="button"
          aria-pressed="true"
          >¡Reserva ahora!</a
        >
      </div>
    </div>
  </div>
  <!-- CAJA 3 -->
  <div class="cajasIzquierda">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/nevados/los_nevados.jpg"
            alt="guajira 1"
            class="imagenes"
          />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/nevados/nevados2.jpg"
            alt="guajira 2"
            class="imagenes"
          />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/nevados/nevados3.jpeg"
            alt="guajira 3"
            class="imagenes"
          />
        </div>
      </div>
    </div>
    <div class="texto_productos">
      <h3>Tour Los Nevados</h3>
      <div>
        <ul>
          <li>
            2 días de aventura, origen desde Bogota, para recorrer Tolima y
            Caldas.
          </li>
          <li>
            1 noche de hospedaje en los termales de otoño Manizalez- Caldas.
          </li>
          <li>Tour disponible para motos de 250cc en adelante</li>
          <li>Costos: 800.000 por persona</li>
        </ul>
        <a
          href="http://localhost:4200/iniciar-sesion"
          class="btn btn-secondary btn-lg active button"
          role="button"
          aria-pressed="true"
          >¡Reserva ahora!</a
        >
      </div>
    </div>
  </div>
  <!-- CAJA 4 -->
  <div class="cajasDerecha">
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/putumayo/putumayo.jpg"
            alt="guajira 1"
            class="imagenes"
          />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/putumayo/putumayo2.jpg"
            alt="guajira 2"
            class="imagenes"
          />
        </div>
        <div class="carousel-item" data-bs-interval="4000">
          <img
            src="../../../assets/img_productos/putumayo/putumayo3.jpg"
            alt="guajira 3"
            class="imagenes"
          />
        </div>
      </div>
    </div>
    <div class="texto_productos">
      <h3>Tour Putumayo</h3>
      <div>
        <ul>
          <li>
            5 días 4 noches de hospedaje, partiendo desde Bogotá hasta Mocoa -
            Putumayo.
          </li>
          <li>
            Incluye ingreso y guía profesional a la cascada de fin del mundo y
            cañon del mandiyaco.
          </li>
          <li>Valores de deportes extremos no incluídos</li>
          <li>Costos: 1.800.000 por persona</li>
        </ul>
        <a
          href="http://localhost:4200/iniciar-sesion"
          class="btn btn-secondary btn-lg active button"
          role="button"
          aria-pressed="true"
          >¡Reserva ahora!</a
        >
      </div>
    </div>
  </div>
</div>
