<!-- CAJA 1 -->
<div class="cajasIzquierda">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/guajira/punta_gallinas.jpeg"
          alt="guajira 1"
          class="imagenes d-block"
        />
      </div>
      <div class="carousel-item" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/guajira/punta_gallinas2.jpg"
          alt="guajira 2"
          class="imagenes d-block"
        />
      </div>
      <div class="carousel-item" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/guajira/punta_gallinas3.jpg"
          alt="guajira 3"
          class="imagenes d-block"
        />
      </div>
    </div>
  </div>
  <span>informacion 1</span>
  <span>informacion 2</span>
</div>

<!-- CAJA 2 -->
<div class="cajasDerecha">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/huila/tatacoa.jpeg"
          alt="guajira 1"
          class="imagenes"
        />
      </div>
      <div class="carousel-item" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/huila/tatacoa2.webp"
          alt="guajira 2"
          class="imagenes"
        />
      </div>
      <div class="carousel-item" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/huila/tatacoa3.jpeg"
          alt="guajira 3"
          class="imagenes"
        />
      </div>
    </div>
  </div>
  <span>informacion 1</span>
  <span>informacion 2</span>
</div>
<!-- CAJA 3 -->
<div class="cajasIzquierda">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/nevados/los_nevados.jpg"
          alt="guajira 1"
          class="imagenes"
        />
      </div>
      <div class="carousel-item" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/nevados/nevados2.jpg"
          alt="guajira 2"
          class="imagenes"
        />
      </div>
      <div class="carousel-item" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/nevados/nevados3.jpeg"
          alt="guajira 3"
          class="imagenes"
        />
      </div>
    </div>
  </div>
  <span>informacion 1</span>
  <span>informacion 2</span>
</div>
<!-- CAJA 4 -->
<div class="cajasDerecha">
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/putumayo/putumayo.jpg"
          alt="guajira 1"
          class="imagenes"
        />
      </div>
      <div class="carousel-item" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/putumayo/putumayo2.jpg"
          alt="guajira 2"
          class="imagenes"
        />
      </div>
      <div class="carousel-item" data-bs-interval="9000">
        <img
          src="../../../assets/img_productos/putumayo/putumayo3.jpg"
          alt="guajira 3"
          class="imagenes"
        />
      </div>
    </div>
  </div>
  <span>informacion 1</span>
  <span>informacion 2</span>
</div>
