.cajasDerecha {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
  margin-left: 25%;
  padding: 1% 0 1% 2%;
  border-radius: 5cqb;
  height: auto;
  width: 70%;
  background-image: linear-gradient(
    -90deg,
    rgba(75, 75, 75, 0.5) 30%,
    rgba(75, 75, 75, 0.5) 100%
  );
}

.cajasIzquierda {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 30px;
  margin: 20px 0 50px 5%;
  padding: 1% 0 1% 2%;
  border-radius: 5cqb;
  height: auto;
  width: 70%;
  background-image: linear-gradient(
    -90deg,
    rgba(75, 75, 75, 0.5) 30%,
    rgba(75, 75, 75, 0.5) 100%
  );
}

img {
  width: 280px;
  height: 200px;
  border-radius: 10px;
}

.carousel {
  width: 40%;
}

.texto_productos {
  margin: 1% 3% 1% 3%;
  font-size: 16px;
}

.button {
  background: black;
  cursor: pointer;
  border: none;
  padding: 8px 28px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red,
    blue,
    deeppink,
    blue,
    white,
    green,
    violet,
    blue
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media only screen and (min-width: 350px) and (max-width: 767px) {
  .cajasDerecha {
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    margin: 20px 0;
  }

  .cajasIzquierda {
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    margin: 0;
  }

  h3 {
    text-align: center;
    text-decoration: underline;
  }

  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
  }

  .carousel {
    width: auto;
  }

  img {
    width: 290px;
    height: 160px;
    border-radius: 10px;
    margin: 6% 0% 3% 0%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cajasDerecha {
    border-radius: 12px;
    width: 100%;
    margin: 20px 0;
  }

  .cajasIzquierda {
    border-radius: 12px;
    width: 100%;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    margin-left: 100px;
  }
}

@media only screen and (min-width: 1201px) {
  .container {
    margin-left: 150px;
  }

  img {
    margin-top: 30px;
    border-radius: 10px;
  }
}
