<div class="d-lg-flex justify-content-center banner-principal">
  <form
    [formGroup]="formulariocredenciales"
    (ngSubmit)="manejarEnvio()"
    class="col-lg-6 needs-validation"
  >
    <div class="mb-4">
      <img src="../../../assets/login.png" alt="logi-ico" />
      <div class="fw-bold fs-4 text">Login</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label fw-semibold"
        >Usuario</label
      >
      <input
        type="text"
        class="form-control border border-secondary"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="usuario"
        formControlName="usuario"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fw-semibold"
        >Password</label
      >
      <input
        type="password"
        class="form-control border border-secondary"
        id="exampleInputPassword1"
        placeholder="password"
        formControlName="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>

    <div class="banner-registrar mt-5">
      <div>
        Don't have an account?
        <button type="submit" class="btn btn-success" (click)="signUpEnvio()">
          Sign Up
        </button>
      </div>
    </div>
  </form>
</div>
